<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zhanghao.speed">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="oicq.wlogin_sdk.permission.WloginProvider.READ" />
    <uses-permission android:name="oicq.wlogin_sdk.permission.WloginProvider.WRITE" />
    <uses-permission android:name="android.permission.SEND_SMS" />     <!-- 发送短信-->
    <uses-permission android:name="android.permission.READ_SMS" />     <!-- 读取短信 -->
    <uses-permission android:name="android.permission.WRITE_SMS" />    <!-- 写入消息 -->
    <uses-permission android:name="android.permission.RECEIVE_SMS" />  <!-- 接收消息 -->

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".ClassCardApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon,android:name">
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize|layoutDirection"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".test.TransationActivity"
            android:configChanges="orientation|screenSize|layoutDirection" />
        <activity android:name="com.zhanghao.core.imagepreview.PhtotoActivity" />
        <activity android:name=".test.CoordinatorLayoutActivity" />
        <activity android:name="mabeijianxi.camera.MediaRecorderActivity" />
        <activity android:name="com.zhanghao.core.base.BaseWebActivity" />
        <activity
            android:name="com.tencent.bugly.beta.ui.BetaActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:theme="@android:style/Theme.Translucent" />
        <activity android:name="com.zhanghao.core.zbar.ZbarActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.tencent.bugly.hotfix.easy.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <meta-data
            android:name="UMENG_APPKEY"
            android:value=" 5981a189f29d983dbd001740" />
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="cb27ca953dda598ce22496a2aefbdcae" />

        <receiver
            android:name=".receiver.UmengStatusReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.classCard.UmengStatusReceiver" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.alipay.sdk.app.H5AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity android:name=".test.StickActivity" />
        <activity android:name=".test.DragSortActivity" />
        <activity android:name=".test.VideoActivity"></activity>
    </application>

</manifest>